################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/EShopMicroservices/v17
/src/.vs/EShopMicroservices/DesignTimeBuild
/src/.vs/EShopMicroservices/FileContentIndex
/src/BuildingBlocks/BuildingBlocks/bin/Debug/net8.0
/src/BuildingBlocks/BuildingBlocks/obj/Debug/net8.0
/src/BuildingBlocks/BuildingBlocks/obj
/src/Services/Catalog/Catalog.API/bin/Debug/net8.0
/src/Services/Catalog/Catalog.API/obj/Debug/net8.0
/src/Services/Catalog/Catalog.API/obj
/src/.vs/EShopMicroservices/config
/src/.vs/ProjectEvaluation
/src/obj
/src/bin/Debug
/src/Services/Basket/Basket.API/bin/Debug/net8.0
/src/Services/Basket/Basket.API/obj
/src/Services/Discount/Disount.Grpc/bin/Debug/net8.0
/src/Services/Discount/Disount.Grpc/obj
/Discount.Grpc/obj
/src/Services/Discount/Discount.Grpc/bin/Debug/net8.0
/src/Services/Discount/Discount.Grpc/obj/Debug/net8.0/ref
/src/Services/Discount/Discount.Grpc/obj/Debug/net8.0/refint
/src/Services/Discount/Discount.Grpc/obj
/src/Services/Ordering/Ordering.API/bin/Debug/net8.0
/src/Services/Ordering/Ordering.API/obj
/src/Services/Ordering/Ordering.Application/bin/Debug/net8.0
/src/Services/Ordering/Ordering.Application/obj
/src/Services/Ordering/Ordering.Domain/bin/Debug/net8.0
/src/Services/Ordering/Ordering.Domain/obj
/src/Services/Ordering/Ordering.Infrastructure/bin/Debug/net8.0
/src/Services/Ordering/Ordering.Infrastructure/obj
