################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/EShopMicroservices/v17
/src/.vs/EShopMicroservices/DesignTimeBuild
/src/.vs/EShopMicroservices/FileContentIndex
/src/BuildingBlocks/BuildingBlocks/bin/Debug/net8.0
/src/BuildingBlocks/BuildingBlocks/obj/Debug/net8.0
/src/BuildingBlocks/BuildingBlocks/obj
/src/Services/Catalog/Catalog.API/bin/Debug/net8.0
/src/Services/Catalog/Catalog.API/obj/Debug/net8.0
/src/Services/Catalog/Catalog.API/obj
/src/.vs/EShopMicroservices/config
/src/.vs/ProjectEvaluation
/src/obj
